<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Simple Blog</h1>
      <h3>The universe is a totality of everything that exist, has existed or ever will exist</h3>
      <p>This Q&A site is dedicated to questions about the history of the universe</p>
      <p>
        <a href="/about" class="btn btn-primary my-2">About</a>
        <a href="#" class="btn btn-secondary my-2">See Others</a>
      </p>
    </div>
  </section>
  
  <div class="container home-container">
    <% if @questions.empty? %>
      <div class="alert alert-info">Nothing here yet. Be the first to ask?</div>
    <% else %>
      <% @questions.each do |q| %>
        <div class="media media-show" data-target="<%= question_path(q) %>">
          <div class="media-left">
            <img src="<%= q.gravatar %>" class="media-object">
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= q.email %> asked:</h4>
            <div class="time"><%= time_ago_in_words q.created_at %> ago</div>
            <p><%= truncate q.body, length: 200, omission: '... (continued)'%></p>
            <a href="<%= question_path(q) %>" class="btn btn-success">View Answer</a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</main>